
/*----------------------------------------------------

* Template : LogiSpeed - Transportaion Html Responsive Template
* Author : LogiSpeed - Transportaion Html Responsive Template

=====================================================================*/

:root {
  --logi-gray: #778083;
  --logi-gray-rgb: 119, 128, 131;
  --logi-base: #ef4512;
  --logi-base-rgb: 44, 188, 99;
  --logi-black: #023a51;
  --logi-black-rgb: 2, 58, 81;
  --logi-primary: #e7f0f3;
  --logi-primary-rgb: 231, 240, 243;

}